*,
*::before,
*::after {
box-sizing: border-box;
}

html {
block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.page {
display: flex;
justify-content: center;
align-items: center;
inline-size: 1200px;
block-size: 100%;
margin: auto;
color: #fff;
font-family: "Fira Sans Condensed", "Times New Roman", sans-serif;
font-size: 18px;
background-color: #1b1919;
}

.content {
display: flex;
align-items: end;
width: 1140px;
gap: 30px;
}

.content__accent {
color: rgba(84, 80, 80, 1);
}

.content__details {
display: flex;
flex-direction: column;
gap:30px;
}

.search-form {
display: flex;
justify-content: space-between;
gap: 40px;
}

.content__list {
display: flex;
flex-direction: column;
gap:30px;
}

.content__list-item {
width: 100%;
height: 100%;
padding-left: 3px;
padding-right: 3px;
}

.content__list-container {
overflow-y:auto;
height: 320px;
position: relative;
}

.content__video-card {
display: flex;
justify-content:space-between;
}

.content__video-card-thumbnail {
width: 196px;
height: 103px;
object-fit: cover;
object-position:center ;
}

.content__video-card-description-container {
flex-grow:1;
}

.result {
gap: 16px;
}

.result__video {
width: 100%;
height: 100%;
object-fit: cover;
}

.result__video-container {
width: 711px;
height: 400px;
margin-bottom: 16px;
position: relative;
}

.title {
font-family:"Oswald","Times New Roman", sans-serif;
font-weight: 700;
font-size: 75px;
line-height: 94%;
text-transform: uppercase;
}

.search-form__fieldset-title {
font-family: "Fira Sans Condensed", "Times New Roman", sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 100%;
margin-bottom: 5px;
}

.content__card-link { 
color:#fff;
text-decoration: none;
display: block;
cursor: pointer;
}

.content__card-link_current {
background-color:rgba(84, 80, 80, 1); ;
}

.content__card-link:active {
background-color:rgba(84, 80, 80, 1); ;
}

.content__card-link:hover {
text-decoration: underline;
}

.content__card-link:focus {
outline: none;
}

.content__card-link:focus-visible {
outline: 1px solid #fff;
}

.content__video-card-title {
font-family: "Oswald", "Times New Roman", sans-serif;
max-width: 100%;
font-weight: 700;
font-size: 30px;
line-height: 100%;
text-align: start;
text-transform: uppercase;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.content__video-card-description {
font-family: "Fira Sans Condensed", "Times New Roman", sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 90%;
overflow: hidden; 
display: -webkit-box; 
line-clamp: 4;
-webkit-box-orient: vertical; 
-webkit-line-clamp: 4;
}

.visually-hidden {
position: absolute;
inline-size: 1px;
block-size: 1px;
overflow: hidden;
clip: rect(0 0 0 0);
clip-path: inset(50%);
white-space: nowrap;
}

.search-form__checkbox-list {
display: flex;
gap:15px; 
}

.search-form__fieldset {
border: none;
}

.search-form__label {
display: flex;
align-items: center;
width: fit-content;
gap:5px;
}

.search-form__textfield {
font-family: "Fira Sans Condensed", "Times New Roman", sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
background-color: transparent;
color:#fff;
width: 211px;
border-top: 1px solid #fff;
border-bottom: 1px solid #fff;
border-left: none;
border-right: none;
appearance: none;
cursor: pointer;
}

.search-form__textfield::placeholder {
color:rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
outline: none;
}

.search-form__textfield:has(:focus-visible) {
outline: 1px solid #fff;
}

.search-form__pseudo-checkbox {
display: flex;
justify-items: center;
align-items: center;
height: 19px;
width:19px;
border:1px solid #fff;
cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
display: flex;
width: 100%;
height: 100%;
content: '';
position: relative;
background-color: #fff;
border: 1px solid #1b1919;
}


.search-form__label:hover {
text-decoration: underline;
}

.search-form__label:has(.search-form__textfield):hover{
text-decoration: none;
}

.button {
font-family: "Fira Sans Condensed","Times New Roman", sans-serif ;
font-weight: 700;
font-size: 18px;
line-height: 100%;
text-align: center;
text-decoration-style: solid;
color:#fff;
border:1px solid #fff;
background: transparent;
cursor: pointer;
min-height: 34px;
}

.search-form__submit-button {
align-self:end;
width:194px;
}

.more-button {
width: 399px;
border-width: 1px;
margin-bottom: 2px;
margin-top: 30px;
}

.button:hover {
text-decoration: underline;
}

.button:active {
background-color:rgba(84, 80, 80, 1);
}

.button:focus {
outline: none;
}

.button:focus-visible {
outline: 1px solid #fff;
outline-offset:1px;
}
